<div class="container">
    <div class="row">
        {% for row in rows %}
            <div class="col-md-4">
                {% for key, column in row.columns %}
                    {% for content in column.content %}
                        {{ content.field_output }}
                    {% endfor %}
                {% endfor %}
            </div>
            {% if loop.index is divisible by(3) %}
                </div>
                <div class="row">
            {% endif %}

        {% endfor %}
    </div>
</div>