/** Case Filing Appointment system **/
#laappintment-form {
	padding: 15px;
}

#laappintment-form fieldset {
	padding: 0.35em 0.9em 1em !important;
}

#laappintment-form .form-item {
	padding-bottom: 5px;
	margin-bottom: 15px;
	font-size: 15px !important;
}

#laappintment-form fieldset legend {
	background: #ccc !important;
	padding-left: 10px !important;
}

#edit-guest-name, #edit-guest-email {
	margin-left: 75px;
}

#edit-case-add-house-number {
	margin-left: 13px;
}

#edit-case-add-direction {
	margin-left: 58px;
	height: 38px;
}

#edit-case-add-street-name {
	margin-left: 15px;
}

#edit-guest-phone {
	margin-left: 10px;
}

#laappintment-form>input[type=radio], 
input[type=checkbox] {
	height: 13px !important;
}

#laappintment-form>input[type=checkbox], 
input[type=radio] {
	height: 13px !important;
}

#block-cityplanning-content .app-textbox {
	margin-left: 200px;
}

#block-cityplanning-content .app-textbox-phone {
	margin-left: 128px;
}

#block-cityplanning-content .app-textbox-appointment {
	margin-left: 130px;
}

#block-cityplanning-content .app-textbox-appointment-street {
	margin-left: 150px;
}

#block-cityplanning-content .app-textbox-direction {
	margin-left: 175px;
}

#block-cityplanning-content .app-textbox-cases {
	margin-left: 175px;
}

#block-cityplanning-content fieldset {
	border: 0px !important;
}

#block-cityplanning-content legend {
	color: #30c2a5;
}

.form-item-week-day-preference-anyday {
	padding-left: 20px;
}

#edit-week-day-preference {
	padding-left: 20px;
}

#laappintment-form input[type=submit] {
	background-color: #009fe3 !important;
	width: 100% !important;
	margin-top: 20px;
	border-radius: 0;
	border: 0;
}