    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}
    
    <div  ng-app="app" ng-controller="biweeklyCaseReportCtrl">
    	<!-- title-bar -->
    	<div id="title-bar">
        	<div class="container">
        		<div class="row">
        			<div class="col-md-8 col-xs-12">
        				<h1>{[{pageTitle}]}</h1>
        			</div>
        			
        			<!-- breadcrumb -->
        			
        			<!-- // End breadcrumb -->
        		</div>
        		
        		<div class="bottom" style="padding-top:20px;"></div>
        	</div>
    	</div><!-- //End title-bar -->
    	
    	<div class="clear"></div>
    	
    	<!-- contain -->
    	<div class="container section-padding-inner">
    		<div class="row">
    			<div class="col-md-12 col-xs-12">
    				<!-- hearings -->
    				<div class="padding-bottom20">
    					<div class="row">
    						<div class="col-md-12">
								<div ng-disabled="enable=='false'">
    	                        	<center ng-show="loadingText == 'Loading ...'"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class="sr-only">Loading...</span></center>
    	                    	</div>
    						</div>
    					</div>
    					
    					<div class="row">
        					<div class="col-md-10 col-xs-12">
        						<label>Filter by : </label>
        						<select name="mySelect" id="mySelect" 
                                    	ng-options="option for option in year.availableOptions track by option"
                                        ng-model="year.selectedOption">
                                </select>
        					</div>
    					
    						<div class="col-md-2 col-xs-12 pull-right content-search"><input placeholder="Search bi-weekly case" ng-model="search"></div>
    					</div>
    				</div>
    				
    				<div class="table-responsive">
    					<table class="table">
                            <colgroup>
                            	<col class="col-md-10">
                              	<col class="col-md-1">
                            </colgroup>
                            
                            <thead>
                                <tr>
                    				<th>Date</th>
                    				<th>File</th>
                    			</tr>
                            </thead>
                            
                            <tr ng-repeat= "record in data  | filter: search | startFrom:currentPage*pageSize | limitTo:pageSize" >
                    			<td>{[{ record.date }]}</td>
                    			<td><span ng-if="record.file"><a href="{[{record.file}]}" target="_blank"><i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i></a></span></td>
                    		</tr>
                        </table>
    				</div>
    				
    				<div class="bottom "></div>
    				<br />
    				<button ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
                        Previous
                    </button>
                    {[{currentPage+1}]}/{[{numberOfPages()}]}
                    <button ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">
                        Next
                    </button>
    				
    			</div>
    		</div>
    	</div>
	</div>	<!-- //End container -->
			
    <!-- footer section -->
    {{ attach_library ('cityplanning/bi-weekly-case-filing') }}
    {{ attach_library ('cityplanning/angular-js') }}
    {% include directory ~ '/partials/footer.html.twig' %}