    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

	<!-- title-bar -->
	{{ page.title_bar }}
	<!-- //End title-bar -->

	<div class="clear"></div>

	<!-- contain -->
	<div class="container section-padding-inner">
		<div class="row">
			<!-- left bar -->
			<div class="col-md-12 col-xs-12">
				<div class="row">
					<div class="col-md-12">
						{{ page.content }}
					</div>
				</div>
			</div><!-- //END left bar -->
		</div>
	</div>	<!-- //End container -->


    <!-- footer section -->
    {% include directory ~ '/partials/footer.html.twig' %}