    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}
    
	<!-- title-bar -->
	{{ page.title_bar }} 
	
	<!-- //End title-bar -->
	
	<div class="clear"></div>
	
	<!-- contain -->
	<div class="container section-padding-inner">
		<div class="row" id="change">
			<!-- left bar -->
			<div class="col-md-12 col-xs-12">
				<div class="row" id="teams">

					<!-- * team  -->
					{{ page.content }}
					<!-- // End team  -->	
					
				</div>
			</div><!-- //END left bar -->
		</div>
	</div>	<!-- //End container -->
    
    <!-- footer section -->
    {% include directory ~ '/partials/footer.html.twig' %}