
.row.field__items  {
  width: 100%;
  padding-left:0 !important;
}


.cornflower-blue {
  color: #fff;
  background-color: #3e94c0;
  font-size: 18px !important;
    max-height: 171px;
    padding-top: 20px;
    padding-left: 20px;
    margin-left: -20px;
    padding-right: 20px;
    height:100%;
}

.cornflower-blue:hover {
  color: #fff;
  background-color: #218abf;
  font-size: 18px !important;
}

.sea-green {
  color: #fff;
  background-color: #92d1be;
  font-size: 18px !important;
  max-height: 171px;
  padding-top: 20px;
  padding-left: 20px;
  margin-right: -20px;
  padding-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  height:100%;
}
.sea-green:hover {
  color: #fff;
  background-color: #73d1b4;
  font-size: 18px !important;
}
.milk-chocolate {
  color: #fff;
  background-color: #968079;
  font-size: 18px !important;
  max-height: 171px;
  padding-top: 20px;
  padding-left: 20px;
  margin-left: -20px;
  padding-right: 20px;
  margin-bottom: 10px;
  height:100%;
}
.milk-chocolate:hover {
  color: #fff;
  background-color: #836a62;
  font-size: 18px !important;
}
.col-md-3 img.img-responsive {
  padding-bottom:0;
}
.col-md-3.col-md-push-9.col-md-pull-0 {
    margin-top:10px;
}
.container-fluid {
        padding-right: 0;
        padding-left: 0;
}
