    <div id="footer-section">
        <div class="container section-padding">
        	<div class="row">
        		<div class="col-md-3 col-sm-6 col-xs-12">
        			<div class="footer-logo img-responsive"><img src="{{ theme_base_path }}/images/logo_footer.png" alt="ladcp logo" ></div>
        			<p>The Department of City Planning creates and implements plans, policies, and programs that realize a vision of Los Angeles as a collection of healthy and sustainable neighborhoods, 
        			each with a distinct sense of place, based on a foundation of mobility, economic vitality, and improved quality of life for all residents.</p>
        		</div>
        		
        		<div class="col-md-6 col-sm-6 col-xs-12">
        			<h3>Helpfull Links</h3>
        			<div class="important-links-left">
        				<ul class="padding-left0">
        					<li><a href="{{ base_path }}about/staff-directory">Staff Directory</a></li>
        					<li><a href="#">Neighborhood Councils</a></li>
        					<li><a href="#">Zoning/Property Info (ZIMAS)</a></li>
        					<li><a href="#">Site Map</a></li>
        					<li><a href="#">FAQ</a></li>
        					<li><a href="{{ base_path }}media/media-information">Media Relations</a></li>
        				</ul>
        			</div>
        			
        			<div class="important-links-right">
        				<ul class="padding-left0">
        					<li><a href="#">Fee Estimator</a></li>
        					<li><a href="#">311</a></li>
        					<li><a href="#">City of LA</a></li>
        					<li><a href="#">Privacy Policy</a></li>
        					<li><a href="#">Disclaimer</a></li>
        					<li><a href="https://get.adobe.com/reader/" target="_blank">Download PDF Reader</a></li>
        				</ul>
        			</div>
        		</div>
        		
        		<div class="col-md-3 col-sm-6 col-xs-12">
        			<h3>Contact Us</h3>
        			<address>
        				<p>
        				<i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp; &nbsp;  200 N Spring Street <br>
        					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Los Angeles, CA 90012
        				</p>
        				<p><i class="fa fa-phone" aria-hidden="true"></i> &nbsp; <a href="tel:+12139781455">213 978 1455</a></p>
        				<p><i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; <a href="mailto:planning@lacity.org?subject=Request for information" target="_top">planning@lacity.org</a></p>
        				<p><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp; Hours: Mon - Fri (8:00 am to 5:00 pm)</p>
        			</address>							
        		</div>
        	</div>
        </div>
        
        <div class="clear"></div>
        <!-- social media section -->
        <div class="container border-line-top">
        	<div class="row padding-bottom10">
        		<div class="col-md-6  col-sm-6 col-xs-12 social-links pull-left" class="padding-left0">
        			<ul class="padding-left0">
                         <li><a href="https://www.instagram.com/planning4la/" class="padding-left0" target="_blank" ><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a></li>
                         <li><a href="https://twitter.com/Planning4LA" target="_blank" ><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a></li>
                         <li><a href="https://www.facebook.com/Planning4LA/" target="_blank" ><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a></li>
                         <li><a href="#" target="_blank" ><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a></li>
                  	</ul>
           		</div>
           		<div class="col-md-6 col-sm-6 col-xs-12">
                	<span class="pull-left newsletter">Stay in Touch  </span>
                	<span class="pull-right">
                    	<div class="input-group ">
                    		<label class="pull-left sr-only" for="newsletter" style="font-size: 16px !important;">Newsletter : &nbsp; </label>
                    		<input type="text" class="form-control" placeholder="Enter your email">
                    		<span class="input-group-btn">
                    			<button class="btn btn-warning" type="button">Sign Up</button>
                    		</span>
                    	</div>
                    </span>
           		</div>
           	</div>     
        </div><!-- //END social media section -->
        	
        <div class="container border-line-top">
        	<div class="row">
           		<div class="col-sm-12 col-xs-12 text-center"><span> &copy; 2017 Copyright, City of Los Angeles Department of City Planning.</span></div>
           	</div>  
           	<a href="#0" class="cd-top">Top</a>   
        </div>
    </div>

    <!-- google translate -->
	<script type="text/javascript">
        function googleTranslateElementInit() {
        	new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
  	</script>