<div id="title-bar">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-xs-12">
				<h1> {{ label }} </h1>
			</div>
			
			<!-- breadcrumb -->
			<div class="col-md-4 col-xs-12">
            	<ol class="breadcrumb pull-right">
                  	<li><a href="#">Home</a></li>
                    <li class="active"><a href="#">About</a></li>
                </ol>
    		</div>
			<!-- //END breadcrumb -->
		</div>
		<div class="bottom" style="padding-top:20px;"></div>
	</div>
</div>