	{# Create json file when page is upload  #}
	{{ drupal_block('laeir_block') }}

	<!-- contain -->
		<div class="row">
			<div class="col-md-12">
    			<div ng-app="appEIR" ng-controller="eirCtrl" class="ng-scope" id="eirs">
    				<div class="row">
    					<div class="col-md-12">
                			<div ng-disabled="enable=='false'">
                                <center ng-show="loadingText == 'Loading ...'"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class="sr-only">Loading...</span></center>
                            </div>
                		</div>
    				</div>

    				<div class="row">
    					<!-- <div class="col-md-12">
                			<div class="pull-right"><input ng-model="projectTitle" placeholder="Search EIR" class="ng-pristine ng-untouched ng-valid ng-empty"></div>
                		</div> -->
                		
                		<div class="col-md-12 col-xs-12 padding-left0">
       						<div class="row padding-bottom25 ">
       							<div class="col-md-offset-8 col-md-4 col-xs-12" id="content-search">
       								<input ng-model="projectTitle" placeholder="Search EIR" />
       							</div>
       						</div>
       					</div>
    				</div>

    				<div class="row">
                		<div class="col-md-12">
                			<div class="table-responsive">
                                <table class="table table-hover">
                                    <colgroup>
                                        <col class="col-md-2">
                                        <col class="col-md-6">
                                        <col class="col-md-1">
                                        <col class="col-md-1">
                                    </colgroup>

                                    <thead>
                                        <tr>
                                            <th>Case No.</th>
                                            <th>Project Title</th>
                                            <th>Notice of Preparation</th>
                                            <th>Draft EIR</th>
                                            <th>Final EIR</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                    <tr ng-repeat="x in data | filter:projectTitle | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize" class="ng-scope">
                                        <td ng-bind="x.eirNumber"></td>
                                        <td ng-bind="x.projectTitle"></td>
                                        <td ngIf: x.noticeOfPreparation>
                                            <a href="{[{ x.noticeOfPreparation }]}" ng-if="x.noticeOfPreparation" class="ng-scope"><i class="fa fa-file-code-o fa-lg" aria-hidden="true"></i></a>
                                        </td>
                                        <td ngIf: x.draftEIR>
                                            <a href="{[{ x.draftEIR }]}" ng-if="x.draftEIR" class="ng-scope"><i class="fa fa-file-code-o fa-lg" aria-hidden="true"></i></a>
                                        </td>
                                        <td ngIf: x.finalEIR>
                                            <a href="{[{ x.finalEIR }]}" ng-if="x.finalEIR" class="ng-scope"><i class="fa fa-file-code-o fa-lg" aria-hidden="true"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="bottom "></div>

                            {# pagination

                            <ul uib-pagination
                                ng-model="currentPage"
                                total-items="total"
                                items-per-page="pageSize"
                                max-size="noOfPages">
                            </ul uib-pagination>
                            #}
                    	</div>
                    </div>
    			</div>
			</div>
		</div> <!-- //End container -->

	{{ attach_library ('cpv3/eir-js') }}
	{{ attach_library ('cpv3/angular-js') }}

