<div class="row padding-left0">
    <div class="col-md-12">
        <div id="commissions-tab" >
                        <ul class="nav nav-tabs community-plan" role="tablist">
{% for item in items %}

	<li role="presentation" class="tab-line padding-left0">{{ item.content }}
  </li>
{% endfor %}
</div>
</div>
</div>
