    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

	{# page-banner #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
				{{ page.top_banner }}
            </div>
        </div>
    </div>{# End page-banner #}

        <!-- contain -->
    <div class="container" id="main-container">
        {# Main content #}
        <div class="row">
        	<div class="col-md-12">{{ page.title_bar }}</div>
        </div>
        <div class="row content-wrapper" id="demographics">
            {# Left-side bar #}
            <div class="col-md-12">
                <div class="row padding-left0">
                    <div class="col-md-12">
						{# content goes here #}
						<div class="row padding-left0">
							<div class="col-md-12">
								
						        {{ page.content }}
								
								<!--  -->
								<div id="demographics-tab">
		                            <ul class="nav nav-tabs">
		                                <li class="active tab-line"><a data-toggle="tab" href="#cw" class="padding-left0">Citywide</a></li>
		                                <li class="tab-line"><a data-toggle="tab" href="#cp">Community Plans</a></li>
		                                <li class="tab-line"><a data-toggle="tab" href="#apc">Area Planning Commissions</a></li>
		                                <li class="tab-line"><a data-toggle="tab" href="#cd">Council Districts</a></li>
		                                <li class="tab-line"><a data-toggle="tab" href="#resources">Resources</a></li>
		                            </ul>
		
		                            <div class="tab-content paddingtop15">
		                            	{# cw #}
		                                <div id="cw" class="tab-pane fade in active">
		                                    <div class="row">
		                                        <div class="col-md-7 paddingtop15">
		                                            <!-- arcgis map -->
		                                            <div id="mapcw"></div>                              
		                                        </div>
		                                        
		                                        <div class="col-md-5">
		                                            <h5>&nbsp;</h5>		                                            
		                                            <div class="pull-right">
		                                            	<a href="#" class="btn btn-default openall">open all</a> 
		                                            	<a href="#" class="btn btn-default closeall">close all</a>
	                                            	</div>
	                                            	
		                                            <br><br>
		                                             
		                                            <!-- accordion -->
		                                            <div class="panel-group" id="accordion" role="tablist">
		                                                <!-- Item 1 -->
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading" id="h-1">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed accordion-toggle" data-id="h-1" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-controls="collapseOne" >
		                                                              Own Vs Rent
		                                                            </a>
		                                                        </h4>
		                                                    </div>
		                                                    
		                                                    <div id="collapseOne" class="panel-collapse collapse in" aria-labelledby="h-1">
		                                                        <div class="panel-body">
		                                                            <div id="own_rent_bar" style="width: 300px; height: 300px;">Select Community Plan on map to left</div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		                                                
		                                                <!-- Item 2 -->  
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading" id="h-2">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed accordion-toggle" data-id="h-2" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-controls="collapseTwo"  >
		                                                              Household Poverty
		                                                            </a>
		                                                      </h4>
		                                                    </div>
		                                                    
		                                                    <div id="collapseTwo" class="panel-collapse collapse" aria-labelledby="h-2">
		                                                        <div class="panel-body">
		                                                            <div id="poverty_donut" style="width: 300px; height: 300px;"></div>
		                                                          </div>
		                                                    </div>
		                                                </div>
		                                                
		                                                <!-- Item 3 -->
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading" id="h-3">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" data-id="h-3" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-controls="collapseThree" >
		                                                              Education: Current Enrollment
		                                                            </a>
		                                                        </h4>
		                                                    </div>
		                                                    <div id="collapseThree" class="panel-collapse collapse" aria-labelledby="h-3">
		                                                        <div class="panel-body">
		                                                            <div id="education_donut" style="width: 300px; height: 300px;"></div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		                                                
		                                                <!-- Item 4 -->
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading" id="h-4">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"  aria-controls="collapseFour" >
		                                                              Household Size 
		                                                            </a>
		                                                        </h4>
		                                                    </div>
		                                                    <div id="collapseFour" role="tabpanel" class="panel-collapse collapse"  aria-labelledby="h-4">
		                                                        <div class="panel-body">
		                                                            <div id="household_donut" style="width: 300px; height: 300px;"></div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		                                                
		                                            </div>{# // End #accordion #}
		                                        </div>
		                                    </div>
		                                </div> {# // End #cw #}
		                                
		                                {# cp #}
		                                <div id="cp" class="tab-pane fade in">
		                                    <div class="row">
		                                        <div class="col-md-7 paddingtop15">
		                                            <!-- arcgis map -->
		                                            <div id="mapcp"></div>
		                                        </div>
		                                        
		                                        <div class="col-md-5">
		                                            <h5>&nbsp;</h5>
		                                            
		                                            <div class="pull-right"><a href="#" class="btn btn-default openall">open all</a> <a href="#" class="btn btn-default closeall">close all</a></div>
		                                            <br><br>
		                                            
		                                            <!-- accordion -->
		                                            <div class="panel-group" id="accordion" role="tablist" >
		                                                <!-- Item 1 -->
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading" id="cp-h-1">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-cp" aria-controls="collapseOne-cp">
		                                                              Own Vs Rent
		                                                            </a>
		                                                        </h4>
		                                                    </div>
		                                                    
		                                                    <div id="collapseOne-cp" class="panel-collapse collapse in"  aria-labelledby="cp-h-1">
		                                                        <div class="panel-body">
		                                                            <div id="own_rent_bar-cp" style="width: 300px; height: 300px;">Select Community Plan on map to left</div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		                                                
		                                                <!-- Item 2 -->  
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading" id="cp-h-2">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-cp" aria-controls="collapseTwo-cp">
		                                                              Household Poverty
		                                                            </a>
		                                                      </h4>
		                                                    </div>
		                                                    
		                                                    <div id="collapseTwo-cp" class="panel-collapse collapse"  aria-labelledby="cp-h-2">
		                                                        <div class="panel-body">
		                                                            <div id="poverty_donut-cp" style="width: 300px; height: 300px;"></div>
		                                                          </div>
		                                                    </div>
		                                                </div>
		                                                
		                                                <!-- Item 3 -->
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading" id="cp-h-3">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-cp" aria-controls="collapseThree-cp">
		                                                              Education: Current Enrollment
		                                                            </a>
		                                                        </h4>
		                                                    </div>
		                                                    <div id="collapseThree-cp" class="panel-collapse collapse" aria-labelledby="cp-h-3">
		                                                        <div class="panel-body">
		                                                            <div id="education_donut-cp" style="width: 300px; height: 300px;"></div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		                                                
		                                                <!-- Item 4 -->
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading"  id="cp-h-4">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour-cp"  aria-controls="collapseFour-cp">
		                                                              Household Size 
		                                                            </a>
		                                                        </h4>
		                                                    </div>
		                                                    <div id="collapseFour-cp" class="panel-collapse collapse"  aria-labelledby="cp-h-4">
		                                                        <div class="panel-body">
		                                                            <div id="household_donut-cp" style="width: 300px; height: 300px;"></div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		                                                
		                                            </div>{# // End #accordion #}
		                                        </div>
		                                    </div>
		                                </div> {# // End #cp #}
		                                
		                                {# apc #}
		                                <div id="apc" class="tab-pane fade in">
		                                    <div class="row">
		                                        <div class="col-md-7 paddingtop15">
		                                            <!-- arcgis map -->
		                                            <div id="mapapc"></div> 
		                                        </div>
		                                        
		                                        <div class="col-md-5">
		                                            <h5>&nbsp;</h5>
		                                            
		                                            <div class="pull-right"><a href="#" class="btn btn-default openall">open all</a> <a href="#" class="btn btn-default closeall">close all</a></div>
		                                            <br><br>
		                                            
		                                            <!-- accordion -->
		                                            <div class="panel-group" id="accordion" role="tablist" >
		                                                <!-- Item 1 -->
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading" id="apc-h-1">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-apc" aria-controls="collapseOne-apc">
		                                                              Own Vs Rent
		                                                            </a>
		                                                        </h4>
		                                                    </div>
		                                                    
		                                                    <div id="collapseOne-apc" class="panel-collapse collapse in"  aria-labelledby="apc-h-1">
		                                                        <div class="panel-body">
		                                                            <div id="own_rent_bar-apc" style="width: 300px; height: 300px;">Select Community Plan on map to left</div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		                                                
		                                                <!-- Item 2 -->  
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading" id="apc-h-2">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-apc" aria-controls="collapseTwo-apc">
		                                                              Household Poverty
		                                                            </a>
		                                                      </h4>
		                                                    </div>
		                                                    
		                                                    <div id="collapseTwo-apc" class="panel-collapse collapse"  aria-labelledby="apc-h-2">
		                                                        <div class="panel-body">
		                                                            <div id="poverty_donut-apc" style="width: 300px; height: 300px;"></div>
		                                                          </div>
		                                                    </div>
		                                                </div>
		                                                
		                                                <!-- Item 3 -->
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading" id="apc-h-3">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-apc" aria-controls="collapseThree-apc">
		                                                              Education: Current Enrollment
		                                                            </a>
		                                                        </h4>
		                                                    </div>
		                                                    <div id="collapseThree-apc" class="panel-collapse collapse" aria-labelledby="apc-h-3">
		                                                        <div class="panel-body">
		                                                            <div id="education_donut-apc" style="width: 300px; height: 300px;"></div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		                                                
		                                                <!-- Item 4 -->
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading"  id="apc-h-4">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour-apc"  aria-controls="collapseFour-apc">
		                                                              Household Size 
		                                                            </a>
		                                                        </h4>
		                                                    </div>
		                                                    <div id="collapseFour-apc" class="panel-collapse collapse"  aria-labelledby="apc-h-4">
		                                                        <div class="panel-body">
		                                                            <div id="household_donut-apc" style="width: 300px; height: 300px;"></div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		                                                
		                                            </div>{# // End #accordion #}
		                                        </div>
		                                    </div>
		                                </div> {# // End #apc #}
		                                
		                                {# cd #}
		                                <div id="cd" class="tab-pane fade in">
		                                    <div class="row">
		                                        <div class="col-md-7 paddingtop15">
		                                            <!-- arcgis map -->
		                                            <div id="mapcd"></div>
		                                        </div>
		                                        
		                                        <div class="col-md-5">
		                                            <h5>&nbsp;</h5>
		                                            
		                                            <div class="pull-right"><a href="#" class="btn btn-default openall">open all</a> <a href="#" class="btn btn-default closeall">close all</a></div>
		                                            <br><br>
		                                            
		                                            <!-- accordion -->
		                                            <div class="panel-group" id="accordion" role="tablist" >
		                                                <!-- Item 1 -->
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading" id="cd-h-1">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-cd" aria-controls="collapseOne-cd">
		                                                              Own Vs Rent
		                                                            </a>
		                                                        </h4>
		                                                    </div>
		                                                    
		                                                    <div id="collapseOne-cd" class="panel-collapse collapse in"  aria-labelledby="cd-h-1">
		                                                        <div class="panel-body">
		                                                            <div id="own_rent_bar-cd" style="width: 300px; height: 300px;">Select Community Plan on map to left</div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		                                                
		                                                <!-- Item 2 -->  
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading" id="h-2">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-cd" aria-controls="collapseTwo-cd">
		                                                              Household Poverty
		                                                            </a>
		                                                      </h4>
		                                                    </div>
		                                                    
		                                                    <div id="collapseTwo-cd" class="panel-collapse collapse"  aria-labelledby="cd-h-2">
		                                                        <div class="panel-body">
		                                                            <div id="poverty_donut-cd" style="width: 300px; height: 300px;"></div>
		                                                          </div>
		                                                    </div>
		                                                </div>
		                                                
		                                                <!-- Item 3 -->
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading" id="cd-h-3">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-cd" aria-controls="collapseThree-cd">
		                                                              Education: Current Enrollment
		                                                            </a>
		                                                        </h4>
		                                                    </div>
		                                                    <div id="collapseThree-cd" class="panel-collapse collapse" aria-labelledby="cd-h-3">
		                                                        <div class="panel-body">
		                                                            <div id="education_donut-cd" style="width: 300px; height: 300px;"></div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		                                                
		                                                <!-- Item 4 -->
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading"  id="cd-h-4">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour-cd"  aria-controls="collapseFour-cd">
		                                                              Household Size 
		                                                            </a>
		                                                        </h4>
		                                                    </div>
		                                                    <div id="collapseFour-cd" class="panel-collapse collapse"  aria-labelledby="cd-h-4">
		                                                        <div class="panel-body">
		                                                            <div id="household_donut-cd" style="width: 300px; height: 300px;"></div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		                                            </div>{# // End #accordion #}
		                                        </div>
		                                    </div>
		                                </div> {# // End #cd #}
		                                
		                                {# #resources #}
		                                <div id="resources" class="tab-pane fade in">
		                                    <div class="row">
		                                        <div class="col-md-7 paddingtop15">
		                                            <!-- arcgis map -->
		                                            <div id="mapresources"></div>   
		                                        </div>
		                                        
		                                        <div class="col-md-5">
		                                            <h5>&nbsp;</h5>
		                                            
		                                            <div class="pull-right"><a href="#" class="btn btn-default openall">open all</a> <a href="#" class="btn btn-default closeall">close all</a></div>
		                                            <br><br>
		                                            
		                                            <!-- accordion -->
		                                            <div class="panel-group" id="accordion" role="tablist" >
		                                                <!-- Item 1 -->
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading" id="res-h-1">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne-res" aria-controls="collapseOne-res">
		                                                              Own Vs Rent
		                                                            </a>
		                                                        </h4>
		                                                    </div>
		                                                    
		                                                    <div id="collapseOne-res" class="panel-collapse collapse in"  aria-labelledby="res-h-1">
		                                                        <div class="panel-body">
		                                                            <div id="own_rent_bar-resources" style="width: 300px; height: 300px;">Select Community Plan on map to left</div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		                                                
		                                                <!-- Item 2 -->  
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading" id="res-h-2">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo-res" aria-controls="collapseTwo-res">
		                                                              Household Poverty
		                                                            </a>
		                                                      </h4>
		                                                    </div>
		                                                    
		                                                    <div id="collapseTwo-res" class="panel-collapse collapse"  aria-labelledby="res-h-2">
		                                                        <div class="panel-body">
		                                                            <div id="poverty_donut-resources" style="width: 300px; height: 300px;"></div>
		                                                          </div>
		                                                    </div>
		                                                </div>
		                                                
		                                                <!-- Item 3 -->
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading" id="res-h-3">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree-res" aria-controls="collapseThree-res">
		                                                              Education: Current Enrollment
		                                                            </a>
		                                                        </h4>
		                                                    </div>
		                                                    <div id="collapseThree-res" class="panel-collapse collapse" aria-labelledby="res-h-3">
		                                                        <div class="panel-body">
		                                                            <div id="education_donut-resources" style="width: 300px; height: 300px;"></div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		                                                
		                                                <!-- Item 4 -->
		                                                <div class="panel panel-default">
		                                                    <div class="panel-heading"  id="res-h-4">
		                                                        <h4 class="panel-title">
		                                                            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour-res"  aria-controls="collapseFour-res">
		                                                              Household Size 
		                                                            </a>
		                                                        </h4>
		                                                    </div>
		                                                    <div id="collapseFour-res" class="panel-collapse collapse"  aria-labelledby="res-h-4">
		                                                        <div class="panel-body">
		                                                            <div id="household_donut-resources" style="width: 300px; height: 300px;"></div>
		                                                        </div>
		                                                    </div>
		                                                </div>
		                                            </div>{# // End #accordion #}
		                                        </div>
		                                    </div>
		                                </div> {# // End #resources #}                                
		                                
		                            </div> {# // End .tab-content #}
		                        </div> {# // End #demographics-tab #}
								
							</div>
						</div>
                    </div>
                </div>
            </div>{# End Left-side bar #}

        </div>
    </div>{# End container #}


    <!-- footer section -->
    {{ attach_library('cpv3/demography') }}
    {% include directory ~ '/partials/footer.html.twig' %}
