    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}
    <div ng-app="searchApp">
    	{# page-banner #}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="page-title-bg"><img src="{{ theme_base_path }}/images/page-bg.jpg" class="img-responsive " alt="bg"></div>
                </div>
            </div>
        </div>{# End page-banner #}

            <!-- contain -->
        <div class="container" id="main-container" ng-controller='MainCtrl'>
            {# Main content #}
            <div class="row">
            		<div class="col-md-12"><h1 class="visibility: visible;">Search for {[{searchQuery}]}</h1></div>
            </div>
            <div class="row paddingtop15 padding-bottom60">
            	<div class="col-md-12" id="search">
            		<!--
                	<div class="row padding-left0">
            			<div class="col-md-12">
                			<input class="form-control" placeholder="Filter search result with input text..."
							type="text" ng-model="searchFilter">
                		</div>
                    </div>
                     -->

                 	<div class="row">
						<div class="col-md-12">
							<div ng-disabled="enable=='false'">
               					<center ng-show="loadingText == 'Loading ...'"><i class="fa fa-spinner fa-spin fa-2x fa-fw"></i><span class="sr-only">Loading...</span></center>
               				</div>
						</div>
					</div>

                    <div class="row ">
                		<div class="col-md-12 padding-left0 padding-right0" >
            				<div ng-if="results.length > 0" class="paddingtop25">
                                <ul style="padding-left: 0; margin-top: 20px;">
                                    <li class="paddingtop15" ng-repeat="section in results | filter:searchFilter | startFrom:(currentPage - 1) * pageSize | limitTo: pageSize">

										<div class="panel panel-default">
									  		<div class="panel-heading">{[{ section.title }]}</div>

										  	<div ng-if="section.type !='message'">
											  	<div class="panel-body" ng-repeat="item in section.items">
											    	<a href="{[{ item.url }]}" target="_blank"><h6 ng-bind-html="item.heading"></h6></a>
											    	<span ng-bind-html="item.subHeading"></span>
											    	<p ng-bind-html="item.body"></p>
											  	</div>
										  	</div>

										  	<div ng-if="section.type =='message'">
											  	<div class="panel-body">
											    	<p>{[{ section.body }]}</p>
											  	</div>
										  	</div>

										</div>

                                    </li>

                                </ul>
                                <ul uib-pagination
                                    total-items="total"
                                    ng-model="currentPage"
                                    max-size="noOfPages"
                                    items-per-page="pageSize"
                                    class="pagination-sm"
                                    boundary-link-numbers="true"
                                    rotate="true">
                                </ul>
                        	</div>

                        	<div class="paddingtop25" ng-if="results == ''"><p><strong>No result found!</strong></p></div>
                		</div>
                    </div>
                </div>{# contain #}
            </div>
        </div>{# End container #}
    </div>{# End ng-app #}

    <!-- footer section -->
    {{ attach_library('cpv3/search') }}
    {{ attach_library('cpv3/angular-js') }}
    {% include directory ~ '/partials/footer.html.twig' %}