{% include directory ~ '/partials/header.html.twig' %}
<div ng-app="appHistoricLandmark" ng-controller="historicLandmarkCtrl">

  {# page-banner #}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div id="page-title-bg" style="background-image: url('{{ theme_base_path }}/images/page-bg.jpg')"></div>
      </div>
    </div>
  </div>
  {# End page-banner #}

  <!-- contain -->
  <div class="container" id="main-container">
    {# Main content #}
    <div class="row">
      <div class="col-md-12">
        <h1>Historic Landmarks - {[{ currentTitle }]}</h1>
      </div>
    </div>

    <div class="row content-wrapper">
      {# Left-side bar #}
      <div class="col-md-12">
        <div class="row padding-left0">
          <div class="col-md-12">
            {# content goes here  #}
            {{ page.content }}

            <div class="row">
              <div class="col-md-12">
                <div ng-disabled="enable=='false'">
                  <center ng-show="loadingText == 'Loading ...'">
                    <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                    <span class="sr-only">Loading...</span></center>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-12 padding-left0 padding-right0">
	                <div class="table-responsive">
                        <table class="table">
                            <colgroup>
                              <col class="col-md-1">
                              <col class="col-md-1">
                              <col class="col-md-3">
                              <col class="col-md-3">
                              <col class="col-md-2">
                              <col class="col-md-1">
                            </colgroup>
                            
                            <thead>
                                <tr>
                                  <th>Monument No.</th>
                                  <th>Date Adopted/Approved</th>
                                  <th>Monument Name</th>
                                  <th>Address</th>
                                  <th>Notes</th>
                                  <th>Photo</th>
                                </tr>
                            </thead>
		                    
                            <tr ng-if="data.landmarks.length > 0" ng-repeat="lm in data.landmarks">
                                <td ng-bind='lm.mnt_num'></td>
                                <td ng-bind='lm.date_approved'></td>
                                <td>
                                    <a ng-if="lm.map_link.length > 0" href="{[{ lm.map_link }]}" rel="nofollow" target="_blank">{[{ lm.name }]}</a>
                                    <span ng-if="lm.map_link.length < 1">{[{ lm.name }]}</span>
                                    
                                </td>
                                <td ng-bind='lm.address'></td>
                                <td ng-bind='lm.notes'></td>
                                <td>
                                    <span ng-if='lm.img_url'><a href="{[{ lm.img_url }]}" target="_blank">
                                       <img src="{[{ lm.thumb_url }]}" alt="historic landmarks-{[{ lm.name }]}" class="img-responsive thumbnail"  />
                                    </a></span>
                                </td>
                            </tr>
                            
                            <tr ng-if="data.landmarks.length < 1">
                                <td colspan="5"> No record found! </td>
                            </tr>
                         </table>
	                </div>
                 </div>
            </div>

          </div>
        </div>
      </div> {# End Left-side bar #}
    </div>
  </div> {# End container #}
</div>

<!-- footer section -->
{{ attach_library ('cpv3/historic-landmarks') }}
{{ attach_library ('cpv3/angular-js') }}
{% include directory ~ '/partials/footer.html.twig' %}
