    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

	<!-- title-bar -->
	{{ page.title_bar }}
	<!-- //End title-bar -->

	<div class="clear"></div>

	<!-- contain -->
	<div class="container section-padding-inner">
		<div class="row" id="citywide">
			<!-- left bar -->
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">
    					 {% if errors %}
    					 <div class="form-item--error-message">
                      		<strong>{{ errors }}</strong>
                    	</div>
    					 {% endif %}
            			{{ page.block_eir }}
						{{ page.content }}
					</div>
				</div>
			</div><!-- //END left bar -->
		</div>
	</div>	<!-- //End container -->

    <!-- footer section -->
    {% include directory ~ '/partials/footer.html.twig' %}