    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

	{# page-banner #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
				<div id="page-title-bg" style="background-image: url('{{ file_url(node.field_image.entity.fileuri) }}')"></div>
            </div>
        </div>
    </div>{# End page-banner #}

        <!-- contain -->
    <div class="container" id="main-container" ng-app="appForms">
        {# Main content #}
        <div class="row">
        	<div class="col-md-12">{{ page.title_bar }}</div>
        </div>

        <div class="row content-wrapper" ng-controller = "formsCtrl">
            {# Left-side bar #}
            <div class="col-md-12">
                <div class="row padding-left0">
                    <div class="col-md-12">
						{# content goes here #}
						<div class="row">
							<div class="col-md-12">
								<ul id="list-horizontal" class="padding-left0">
									<li ng-repeat="letter in names">
										<a href="#" ng-click="setFilter(letter)" ng-class="{active : filt === letter}">{[{letter}]}</a> <span style="padding-left: 5px;">|</span>
									</li>
								</ul>
							</div>
						</div>

						<div class="row padding-bottom30">
							<div class="col-md-12">
								<div class="bottom "></div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-12">
								<div class="table-responsive">
        							<h5>Master Forms</h5>
        							<table class="table table-hover">
                                        <colgroup>
                                            <col class="col-md-10 col-sm-10">
                                            <col class="col-md-2 col-sm-2">
                                        </colgroup>

                                        <thead>
                                            <tr>
                                                <th>Title</th>
                                                <th>Code</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr ng-repeat="form in masterForms">
                                                <td><a href="{[{ form.url }]}" target="_blank"
                                                rel="nofollow"><span ng-bind="form.title"></span></a></td>
                                                <td ng-bind="form.number"></td>
                                            </tr>

                                        </tbody>
                                    </table>
								</div>
							</div>
						</div>

						<div class="bottom "></div>

						<div class="row">
							<div class="col-md-12 table-responsive">
								<h5>Forms</h5>
                   				<table class="table table-hover">
               						<colgroup>
                                        <col class="col-md-10 col-sm-10">
                                        <col class="col-md-2 col-sm-2">
                                    </colgroup>

                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Code</th>
                                        </tr>
                                    </thead>

                   					<tbody ng-repeat="form in data | filter: startsWith | orderBy: 'title'">
                   						<tr>
                   							<td>
                   								<strong ng-if="!form.url" class="bold-title"><span ng-bind="form.title"></span></strong>
                   								<a ng-if="form.url" href="{[{ form.url }]}" target="_blank" rel="nofollow"><span ng-bind="form.title"></span></a>
               								</td>
                   							<td>{[{ form.number }]}</td>
                   						</tr>

                   						<tr ng-repeat="sf in form.subForms">
               								<td><a href="{[{ sf.url }]}" target="_blank" rel="nofollow">- <span ng-bind="sf.title"></span></a></td>
               								<td>{[{ sf.number }]}</td>
                   						</tr>
                   					</tbody>
                   				</table>
							</div>
						</div>
       	 			</div>
            	</div>{# End Left-side bar #}
			</div>
        </div>
    </div>{# End container #}


    <!-- footer section -->
    {{ attach_library ('cpv3/forms') }}
    {{ attach_library ('cpv3/angular-js') }}
    {% include directory ~ '/partials/footer.html.twig' %}