    {# page template #}
    
    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

    {# page-banner #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div id="page-title-bg" style="background-image: url('{{ file_url(node.field_image.entity.fileuri) }}')"></div>
            </div>
        </div>
    </div>{# End page-banner #}

    <!-- contain -->
    <div class="container" id="main-container">
        {# Main content #}
        <div class="row">
            <div class="col-md-12"><h1>Oops!</h1></div>
        </div>
        
        <div class="row content-wrapper" style="min-height: 290px;">
        	<div class="col-md-12">
            	<div class="row padding-left0">
                	<div class="col-md-12 padding-left0 padding-right0">
                        {# content goes here #}
                        <p style="font-size: x-large;">The page you were looking for was not found.<br>GO BACK TO THE HOME PAGE?</p>
                        {{ page.content }}
                    </div>
                </div>
            </div> 
        </div>
        
    </div>{# End container #}
    
    <!-- footer section -->
    {% include directory ~ '/partials/footer.html.twig' %}