{% include directory ~ '/partials/header.html.twig' %}
<div ng-app="app" ng-controller="agendaCtrl">

  {# page-banner #}
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div id="page-title-bg"><img src="{{ theme_base_path }}/images/page-bg.jpg" class="img-responsive " alt="bg"></div>
      </div>
    </div>
  </div>
  {# End page-banner #}

  <!-- contain -->
  <div class="container" id="main-container">
    {# Main content #}
    <div class="row">
      <div class="col-md-12">
        <h1>Commission Meetings - {[{ planningAreaTitle }]}</h1>
        <p>
          The City Planning Commission, Cultural Heritage Commission, and seven Area Planning Commissions hold regular meetings on a monthly basis. Agendas for upcoming and past meetings are posted below in accordance with the Brown Act.
        </p>
      </div>
    </div>
    <div class="row paddingtop15 padding-bottom60">
      {# Left-side bar #}
      <div class="col-md-12">
        <div class="row padding-left0">
          <div class="col-md-12">
            {# content goes here  #}

            {# filter & search #}
            <div class="row">
              <div class="col-md-12">
                <div class="padding-bottom20">
                  <div class="row">
                    <div class="col-md-12 col-xs-12 padding-left0">
                      <div class="row padding-bottom25 content-search">
                        <div class="col-md-8 col-xs-12 filter-by">
                          <label>Filter by :
                          </label>
                          <select name="apc" ng-model="apc">
                            <option ng-repeat="option in apcAreas.availableOptions" value="{[{option.id}]}" ng-selected="apc == option.id">{[{option.name}]}</option>
                          </select>

                          <!-- year -->
                          <select name="date" ng-model="date">
                            <option>- Year -</option>
                            <option ng-repeat="d in dates" ng-selected="d==date" ng-value="d" ng-bind="d"></option>
                          </select>
                        </div>

                        <div class="col-md-4 col-xs-12 search" id="content-search">
                          <input ng-model="Date" placeholder="Search your agenda">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {# end filter & search #}

            <div class="row">
              <div class="col-md-12">
                <div ng-disabled="enable=='false'">
                  <center ng-show="loadingText == 'Loading ...'">
                    <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                    <span class="sr-only">Loading...</span></center>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12">
                <div class="table-responsive">
                  <table class="table">
                    <colgroup>
                      <col class="col-md-1">
                      <col class="col-md-2">
                      <col class="col-md-1">
                      <col class="col-md-1">
                      <col class="col-md-4">
                      <col class="col-md-1">
                      <col class="col-md-1">
                      <col class="col-md-1">
                      <col class="col-md-1">
                      <col class="col-md-1">
                    </colgroup>
                    <thead>
                      <tr>
                        <th>Date</th>
                        <th>Commission</th>
                        <th>Note</th>
                        <th>Address</th>
                        <th>Agenda</th>
                        <th>Add'l Docs</th>
                        <th>Audio</th>
                        <th>Minutes</th>
                      </tr>
                    </thead>
                    <tr ng-repeat="agenda in agendas | filter:Date">
                      <td ng-bind="agenda.Date"></td>
                      <td ng-bind="agenda.Type"></td>
                      <td ng-bind="agenda.Note"></td>
                      <td ng-bind="agenda.Address"></td>
                      <td>
                        <span ng-if="agenda.AgendaLink">
                          <a href="{[{agenda.AgendaLink}]}" target="_blank">
                            <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
                          </a>
                        </span>
                      </td>
                      <td>
                        <span ng-if="agenda.AddDocsLink">
                          <a href="{[{agenda.AddDocsLink}]}" target="_blank">
                            <i class="fa fa-file-pdf-o fa-2x" aria-hidden="true"></i>
                          </a>
                        </span>
                      </td>
                      <td>
                        <span ng-if="agenda.AudioLink">
                          <a href="{[{agenda.AudioLink}]}" target="_blank">
                            <i class="fa fa-file-audio-o fa-2x" aria-hidden="true"></i>
                          </a>
                        </span>
                      </td>
                      <td>
                        <span ng-if="agenda.MinutesLink">
                          <a href="{[{agenda.MinutesLink}]}" target="_blank">
                            <i class="fa fa-file-text-o fa-2x" aria-hidden="true"></i>
                          </a>
                        </span>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      {# End Left-side bar #}
    </div>
  </div>
  {# End container #}
</div>

<div class="container white--bg visible-xs-block visible-sm-block">
  <div class="row">
    {# Right-side bar #}
    <div class="col-md-12 sidebar-menu">
      <div class="top-bar"></div>
      {{ page.side_menu }}
    </div>
    {# End Right-side bar #}
  </div>
</div>

<!-- footer section -->
{{ attach_library ('cpv3/agenda-hearing') }}
{{ attach_library ('cpv3/angular-js') }}
{% include directory ~ '/partials/footer.html.twig' %}
