    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}
    
    <style>
        /* calendar */
        #calendar { max-width: 100% !important; margin: 0 auto;	}
        .hearing { color: #3399ff !important; }
        .commission {color: #9966cc !important; }
        .public {color: #70a300 !important; }
        .mousepointer{cursor:pointer;}
        .cal-hearing { float: left; width: 20px; min-height: 10px; background: #3399ff; padding-top: 19px !important; }
        .cal-commission { float: left; width: 20px; min-height: 10px; background: #9966cc; padding-top: 19px !important;}
        .cal-public-meeting { float: left; width: 20px; min-height: 10px; background: #70a300; padding-top: 19px !important;}
        .cal-box { float: left; width: 20px; min-height: 10px; border: solid 1px #ddd; background:#fff; padding-top: 19px !important;}
        .fc-other-month .fc-day-number { display:none;}
        .mousepointer:hover {background-color: #eee;}
    </style>
    
    <div id="title-bar">
    
        {# page-banner #}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div id="page-title-bg"><img src="{{ theme_base_path }}/images/page-bg.jpg" class="img-responsive " alt="bg"></div>
                </div>
            </div>
        </div>{# End page-banner #}
        
        <!-- contain -->
        <div class="container" id="main-container">
            {# Main content #}
            <div class="row">
                {# Left-side bar #}
                <div class="col-md-12">
                    <div class="row padding-left0">
                        <div class="col-md-12">
                        	{# title-bar #}
                        	<h1>{{ node.label }}</h1>
                        	{# //End title-bar #}
            				
            				<div class="container-fluid section-content">
                            	<div class="row">
                            		<div class="col-md-12 padding-top13 padding-bottom20 pull-right">
                            			<div class="row">
                            				<div class="col-sm-2 pull-right">
                            					<div id="ci-public" class="mousepointer"><span class="cal-public-meeting"></span> <span class="padding-left10">Public Meeting</span></div>
                            				</div>
                            				<div class="col-sm-2 pull-right">
                            					<div id="ci-commission" class="mousepointer"><span class="cal-commission"></span> <span class="padding-left10">Commission</span></div>
                            				</div>
                            				<div class="col-sm-2 pull-right">
                            					<div id="ci-hearing" class="mousepointer"><span class="cal-hearing" style="padding-top: 10px;"></span> <span class="padding-left10">Hearing</span></div>
                            				</div>
                            			</div>
                            		</div>
                            	</div>
                        	</div>
                        	
                        	<!-- contain -->
                        	<div class="container-fluid">
                        		<div class="row">
                        			<div class="col-md-12 col-xs-12">
                        				<div id='calendar'></div>
                        			</div>
                        		</div>
                        	</div><!-- //End container -->
                        </div>
                    </div>
                </div>{# End Left-side bar #}
        
            </div>
        </div>{# End container #} 
    </div>

    <!-- footer section -->
    {{ attach_library ('cpv3/calendar-detail') }}
    {% include directory ~ '/partials/footer.html.twig' %}