    <!-- Fixed navbar -->
    {% include directory ~ '/partials/header.html.twig' %}

	{# page-banner #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
				<div id="page-title-bg"><img src="{{ theme_base_path }}/images/page-bg.jpg" class="img-responsive " alt="bg"></div>
            </div>
        </div>
    </div>{# End page-banner #}

        <!-- contain -->
    <div class="container" id="main-container">
        <div class="row">
        	<div class="col-md-12">{{ page.title_bar }}</div>
        </div>
    </div>
    
    <div class="container-fluid">
        <div class="row">
           	<div class="col-md-12">
                <div class="row padding-left0">
                    <div class="col-md-12" style="padding-bottom: 150px;">
						<div id="chart-container"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- footer section -->
    {{ attach_library('cpv3/organizational-chart') }}
    {% include directory ~ '/partials/footer.html.twig' %}