<div class="container">
	<div class="row padding-bottom-80">
		<div class="col-md-12"><a class="btn btn-primary" href="{{ view.args[0] }}">View Commission Agendas & Minutes </a></div>
	</div>
    <div class="row padding-bottom-80">
        {% for row in rows %}
            <div class="col-md-4">
                {% for key, column in row.columns %}
                    {% for content in column.content %}
                        {{ content.field_output }}
                    {% endfor %}
                {% endfor %}
            </div>
            
            {% if loop.index is divisible by(3) %}
                </div>
                <div class="row padding-bottom-80">
            {% endif %}

        {% endfor %}
    </div>
</div>