<a href="{{ content.field_button_link }}">
	<p class="{{ content.field_bg_class }}" style="padding: 10px 15px; color: #fff; margin-bottom: 0px !important;">
        {{ content.field_text }} 
        <span style="float: right;">
        	<i class="fa {{ content.field_icon_class }} fa-lg" aria-hidden="true" style="padding-top: 5px;"></i>
        </span>
	</p>
</a>