{% for item in items %}
	{% set bg = item.content['#field_collection_item'].get('field_bg_class').value %}
	{% set icon = item.content['#field_collection_item'].get('field_icon_class').value %}
	{% set text = item.content['#field_collection_item'].get('field_text').value %}
    {% set link = (item.content['#field_collection_item'].field_button_link_url.0.isExternal()) ? item.content['#field_collection_item'].field_button_link_url.0.url.getUri() : path(item.content['#field_collection_item'].field_button_link_url.0.url.routeName, item.content['#field_collection_item'].field_button_link_url.0.url.routeParameters)  %}
	
	<div>
		<a href="{{ link }}">
		    <p class="{{ bg }}">
		        {{ text }}
		        <span style="float: right; margin-top: 5px;">
		         <i class="{{ icon }}" aria-hidden="true"></i>
		        </span>
		    </p>
		</a>
	</div>
{% endfor %}