<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <div class="row">
            {% if items|length == 1 %}
                {% set class = 'text-center' %}
            {% elseif items|length > 2 %}
                {% set class = 'margin-bottom' %}
            {% endif %}

            {% for item in items %}
                {% if item.content['#url'].isExternal() %}
                	{% set link = item.content['#url'].getUri() %}
                {% else %}
            	    {% set link = path(item.content['#url'].routeName, item.content['#url'].routeParameters)  %}       
                {% endif %}
                
                <div class="col-md-12 {{ class }}">
                    <a href="{{ link }}" class="button">{{ item.content['#title'] }}</a>
                </div>
                {% if loop.index is divisible by(2) %}
       		</div>

   			<div class="row">
                {% endif %}
            {% endfor %}
            </div>

        </div>
    </div>
</div>
