<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-offset-3 text-center">
            <div class="row">
                {% if items|length == 1 %}
                    {% set class = 'col-lg-offset-3 text-center' %}
                {% elseif items|length > 2 %}
                    {% set class = 'margin-bottom' %}
                {% endif %}
                {% for item in items %}
                <div class="col-lg-6 {{ class }}">
                    {% set url = file_url(item.content['#field_collection_item'].get('field_image_button_image').entity.uri.value | image_style('image_button_image')) %}
                    <img src="{{ url }}"/>
                    {% set link = item.content['#field_collection_item'].get('field_link')['#url'].getUri() %}
                    <a href="{{ link }}" class="img-btn-link">{{ item.content['#field_collection_item'].get('field_title').value }}</a>
                </div>
                {% if loop.index is divisible by(2) %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>

        </div>

    </div>

</div>