	<div class="container padding-bottom60">
	    <div class="row">
	  		<div class="col-md-12 padding-bottom15"><h2 class="text-center">City Planning Calendar</h2></div>
	  	</div>
		<div class="row">
			<div class="col-md-12 col-xs-12">
				<div id='calendar'></div>
			</div>
		</div>
	</div>