<div class="container-fluid">
	<div class="row">
		<div class="col-md-8 hidden-xs" id="map-promote-preserve-wrapper">
			<div class="color-box-txt planning-tag">
				<span></span>
			</div>
		</div>

		<div class="col-md-12 hidden-sm hidden-md hidden-lg"
			id="map-promote-preserve-wrapper">
			<div class="color-box-txt planning-tag">
				<span></span>
			</div>
		</div>

		<div class="col-md-3 hidden-xs" id="our-mission-wrapper">
			<div class="our-mission color-box-txt"></div>
		</div>

		<div class="col-md-1 hidden-xs" id="blank-wrapper">
			<div class="color-box-txt "></div>
		</div>
	</div>
</div>