	<div id="footer-section">
		<div class="container padding-top50">
        	<div class="row padding-bottom25">
        		<div class="col-md-4 padding-left0" style="padding-right:65px;">
        			<p class="padding-bottom30"></p>
        			<p>The Department of City Planning creates and implements plans, policies, and programs that realize a vision of Los Angeles as a collection of healthy and sustainable neighborhoods,
        			each with a distinct sense of place, based on a foundation of mobility, economic vitality, and improved quality of life for all residents.</p>
        		</div>

        		<div class="col-md-4">
        			<h6 class="padding-bottom15">HELPFUL LINKS</h6>
       				<ul>
       					<li><a href="#">Los Angeles Department of Building & Safety(LADBS)</a></li>
       					<li><a href="#">City Links</a></li>
       					<li><a href="#">Zoning/Property Info (ZIMAS)</a></li>
       					<li><a href="#">Site Map</a></li>
       					<li><a href="{{ base_path }}faq">FAQ</a></li>
       					<li><a href="{{ base_path }}media/media-information">Media Relations</a></li>
       				</ul>
        		</div>

        		<div class="col-md-4">
        			<h6 class="padding-bottom15">CONTACT US</h6>
        			<address>
        				<p><a href="#"><i class="fa fa-clock-o" aria-hidden="true"></i> &nbsp;Locations and Hours</a></p>
        				<p><a href="#"><i class="fa fa-calendar-check-o" aria-hidden="true"></i> &nbsp;Schedule an Appointment</a></p>
        				<p><a href="#"><i class="fa fa-paper-plane-o" aria-hidden="true"></i> &nbsp;Media Relations</a></p>
        			</address>
        		</div>
        	</div>{# //End .row #}	
        	
        	<div class="row border-line-top">
        		<div class="col-md-6 padding-left0"><a href="#">311</a> &nbsp; | &nbsp; <a href="#">City of LA</a> &nbsp;|&nbsp; <a href="#">Privacy Policy</a> &nbsp;|&nbsp; <a href="#">Disclaimer</a> </div>
        		<div class="col-md-6 padding-right0 text-right">&copy; 2017 Copyright, City of Los Angeles Department of City Planning.</div>
        	</div>
        </div>{# //End .container #}	
	</div>{# //End #footer-menu #}
	
    {# google translate #}
	<script type="text/javascript">
        function googleTranslateElementInit() {
        	new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
        }
  	</script>