<div class="col-md-3 sidebar-menu">
	<div class="top-bar"></div>
	<ul>
		<li><a href="#" class="active">Department of City Planning</a></li>
		<li class="line"></li>
		<li><a href="#">Message from the Director</a></li>
		<li class="line"></li>
		<li><a href="#">Department Org Chart</a></li>
		<li class="line"></li>
		<li><a href="#">Staff Directory</a></li>
		<li class="line"></li>
		<li><a href="#">City Planning Commission</a></li>
		<li class="line"></li>
    <li>
      <a href="#">Commission Meetings</a>
    </li>
		<li class="line"></li>
		<li><a href="#">Hearings</a></li>
		<li class="line"></li>
		<li><a href="#">Planning Calendar</a></li>
		<li class="line"></li>
	</ul>
</div>