<div class="container-fluid" id="slider">
         <div class="row">
            <div class="col-md-12 padding-left0 padding-right0">
               <div id="bootstrap-touch-slider" class="carousel bs-slider fade  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000">
                  <!-- Indicators -->
                  <ol class="carousel-indicators">
                     <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                     <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                     <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
                  </ol>
                  <!-- Wrapper For Slides -->
                  <div class="carousel-inner" role="listbox">
                     <!-- First Slide -->
                     <div class="item active">
                        <!-- Slide Background -->
                        <img src="{{ theme_base_path }}/images/slider/s-1.jpg" alt="Bootstrap Touch Slider" class="img-responsive"/>
                        <div class="bs-slider-overlay"></div>
                        <!-- Slide Text Layer -->
                        <div class="slide-text slide_style_left">
                           <h2 data-animation="animated flipInX">Defining the future of our City and leaving a positive and lasting impact. </h2>
                            <span class="read-more" ><a href="#">Read more +</a></span>
                        </div>
                     </div>
                     <!-- End of Slide -->
                     
                     <!-- Second Slide -->
                     <div class="item">
                        <!-- Slide Background -->
                        <img src="{{ theme_base_path }}/images/slider/s-2.jpg" alt="Bootstrap Touch Slider" class="img-responsive"/>
                        <div class="bs-slider-overlay"></div>
                        <!-- Slide Text Layer -->
                        <div class="slide-text slide_style_left">
                           <h2 data-animation="animated zoomInRight">
                              A new affordable housing project is coing to the Westside!
                              The Martin Town Expo will bring 516 new dwelling units-20% of which will be set aside for affordable housing.
                           </h2>
                           <span class="read-more" ><a href="#">Read more +</a></span>
                        </div>
                     </div>
                     <!-- End of Slide -->
                     
                     <!-- Third Slide -->
                     <div class="item">
                        <!-- Slide Background -->
                        <img src="{{ theme_base_path }}/images/slider/s-3.jpg" alt="Bootstrap Touch Slider" class="img-responsive"/>
                        <div class="bs-slider-overlay"></div>
                        <!-- Slide Text Layer -->
                        <div class="slide-text slide_style_left">
                           <h2 data-animation="animated zoomInLeft">
                              "A city's success should be measured by the opportunities it gives people to live in an affordable home, hold a decent job and earn a living wage."
                           </h2>
                        	<span class="read-more" ><a href="#">Read more +</a></span>
                        </div>
                     </div>
                     <!-- End of Slide -->
                  </div>
                  <!-- //.carousel-inner -->
                  <!-- Left Control -->
                  <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                  <span class="fa fa-angle-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                  </a>
                  <!-- Right Control -->
                  <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                  <span class="fa fa-angle-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                  </a>
               </div>
               <!-- End  bootstrap-touch-slider Slider -->
            </div>
         </div>
         
         <!-- color boxes -->
     	<div class="row">
 			<div class="col-md-8 Dark-Orange" id="map-promote-preserve-wrapper">
         		<div class="color-box-txt pl6pc">Map. Promote. Preserve. <span>#planning4LA</span></div>
     		</div>
     		
 			<div class="col-md-3 Saffron-Mango" id="our-mission-wrapper">
         		<div class="our-mission color-box-txt"><a href="#">Our Mission</a></div>
     		</div>
     		
 			<div class="col-md-1 Dark-Orange" id="blank-wrapper">
         		<div class="color-box-txt">&nbsp;</div>
     		</div>
 		</div> <!-- // End color boxes -->
	</div>