    <div class="container-fluid padding-top60">
    	<div class="row">
    		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pad-left-right" id="m1">
    			<div class="box tw-bg">
    				<img src="{{ theme_base_path }}/images/sm-1.jpg"
    					class="img-responsive" alt="smmages" />
    				<div class="social-description">
    					<span><i class="fab fa-twitter fa-3x" aria-hidden="true"></i></span>
    					<p class="padding-top-26pc" >Pork loin pastrami corned beef venison rump. Cupim meatloaf sirloin 
    					pig tail pancetta tongue sausage pork loin ground round salami venison 
    					ham hock jerky shank ...</p>
    				</div>
    			</div>
    			
    			<div class="box yt-bg">
    				<div class="social-description">
    					<span><i class="fab fa-youtube fa-3x" aria-hidden="true"></i></span>
    					<p class="padding-top-3pc" >Tongue short loin bresaola, boudin swine pork ham turducken pig capicola meatball 
    					pancetta tongue sausage pork loin ground ...</p>
    				</div>
    			</div>
    		</div>
    		
    		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pad-left-right" id="m2">
    			<div class="box">
    				<img src="{{ theme_base_path }}/images/sm-2.jpg"
    					class="img-responsive" alt="smmages" />
    				<div class="social-description">
    					<span><i class="fab fa-instagram fa-3x" aria-hidden="true"></i></span>
    					<p class="padding-top-10pc"  >Ball tip chicken shoulder kevin sirloin biltong pastrami andouille fatback shank cow. 
    					Turkey tail pancetta pork ...</p>
    				</div>
    			</div>
    			<div class="box fb-bg" style="min-height: 263px !important;">
    				<div class="social-description">
    					<span><i class="fab fa-facebook fa-3x" aria-hidden="true"></i></span>
    					<p class="padding-top-35pc">Donec interdum lorem eu elit sodales auctor. Maecenas ground round salami lorem eu elit sodales malesuada ...</p>
    				</div>
    			</div>
    		</div>
    
    		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pad-left-right" id="m3">
    			<div class="box tw-bg">
    				<img src="{{ theme_base_path }}/images/sm-3.jpg"
    					class="img-responsive" alt="smmages" />
    				<div class="social-description">
    					<span><i class="fab fa-twitter fa-3x" aria-hidden="true"></i></span>
    					<p class="padding-top-26pc">Pork loin pastrami corned beef venison rump. Cupim meatloaf sirloin 
    					pig tail pancetta tongue sausage pork loin ground round salami venison 
    					ham hock jerky shank ...</p>
    				</div>
    			</div>
    			
    			<div class="box tw-bg">
    				<div class="social-description">
    					<span><i class="fab fa-twitter fa-3x" aria-hidden="true"></i></span>
    					<p class="padding-top-3pc">Tongue short loin bresaola, boudin swine pork ham turducken pig capicola meatball 
    					pancetta tongue sausage pork loin ground ...</p>
    				</div>
    			</div>	
    		</div>
    		
    		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pad-left-right" id="m4">
    			<div class="box fb-bg" style="min-height: 226.5px !important;">
    				<div class="social-description">
    					<span><i class="fab fa-facebook fa-3x" aria-hidden="true"></i></span>
    					<p class="padding-top-20pc" >Donec interdum lorem eu elit sodales auctor. Maecenas ground round salami lorem eu elit sodales malesuada ...</p>
    				</div>
    			</div>
    			<div class="box yt-bg" style="min-height: 227px !important;">
    				<div class="social-description">
    					<span><i class="fab fa-youtube fa-3x" aria-hidden="true"></i></span>
    					<p class="padding-top-20pc" >Pork loin pastrami corned beef venison rump. Cupim meatloaf sirloin 
    					pig tail pancetta ...</p>
    				</div>
    			</div>
    		</div>
    
    		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pad-left-right" id="m5">
    			<div class="box">
    				<img src="{{ theme_base_path }}/images/sm-4.jpg"
    					class="img-responsive" alt="smmages" />
    				<div class="social-description">
    					<span><i class="fab fa-instagram fa-3x" aria-hidden="true"></i></span>
    					<p class="padding-top-10pc">Ball tip chicken shoulder kevin sirloin biltong pastrami andouille 
    					fatback shank cow. Turkey tail pancetta pork ...</p>
    				</div>
    			</div>
    			<div class="box tw-bg" style="min-height: 262px !important;">
    				<div class="social-description">
    					<span><i class="fab fa-twitter fa-3x" aria-hidden="true"></i></span>
    					<p class="padding-top-30pc">Donec interdum lorem eu elit sodales auctor. Maecenas ground round salami lorem eu elit sodales malesuada ...</p>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>