<div class="row" id="blog-social-media">
    <div class="col-md-8 padding-left0">
    </div>

    <div class="col-md-4" id="social-buttons">
        <button type="button" class="btn btn-white btn-circle">
            <a href="https://www.facebook.com/ourla2040" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
        </button>
        <button type="button" class="btn btn-white btn-circle">
            <a href="https://www.instagram.com/ourla2040/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        </button>
        <button type="button" class="btn btn-white btn-circle">
            <a href="https://twitter.com/ourla2040" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        </button>

    </div>
</div>
