    <div class="container-fluid padding-top60">
    	<div class="row">
    		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pad-left-right wm">
    			<div class="box tw-bg">
    				<img src="{{ theme_base_path }}/images/sm-1.jpg" alt="smmages" />
    				<div class="social-description">
    					<a href="#">
        					<span><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></span>
        					<div class="transparent-box transparent-box-padding">
        						<p>Pork loin pastrami corned beef venison rump. Cupim meatloaf sirloi
            					pig tail pancetta tongue sausage pork loin ground round salami venison
            					ham hock jerky shank ...</p>
        					</div>
    					</a>
    				</div>
    			</div>

    			<div class="box yt-bg">
    				<div class="social-description">
    					<a href="#">
        					<span><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></span>
        					<p class="padding-top-26pc" >Tongue short loin bresaola, boudin swine pork ham turducken pig capicola meatball
        					pancetta tongue sausage pork loin ground ...</p>
    					</a>
    				</div>
    			</div>
    		</div>

    		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pad-left-right wm">
    			<div class="box">
    				<img src="{{ theme_base_path }}/images/sm-2.jpg" alt="smmages" />
    				<div class="social-description">
    					<a href="#">
        					<span><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></span>
        					<div class="transparent-box transparent-box-padding">
        						<p>Ball tip chicken shoulder kevin sirloin biltong pastrami andouille fatback shank cow.
        						Turkey tail pancetta pork ...</p>
        					</div>
    					</a>
    				</div>
    			</div>
    			<div class="box fb-bg">
    				<div class="social-description">
    					<a href="#">
        					<span><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></span>
        					<p class="padding-top-26pc">Donec interdum lorem eu elit sodales auctor. Maecenas ground round salami lorem eu elit sodales malesuada ...</p>
    					</a>
    				</div>
    			</div>
    		</div>

    		<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pad-left-right wm">
    			<div class="box tw-bg">
    				<img src="{{ theme_base_path }}/images/sm-3.jpg" alt="smmages" />
    				<div class="social-description">
    					<a href="#">
        					<span><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></span>
        					<div class="transparent-box transparent-box-padding">
            					<p>Pork loin pastrami corned beef venison rump. Cupim meatloaf sirloin
            					pig tail pancetta tongue sausage pork loin ground round salami venison
            					ham hock jerky shank ...</p>
        					</div>
    					</a>
    				</div>
    			</div>

    			<div class="box tw-bg">
    				<div class="social-description">
    					<a href="#">
        					<span><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></span>
        					<p class="padding-top-26pc">Tongue short loin bresaola, boudin swine pork ham turducken pig capicola meatball
        					pancetta tongue sausage pork loin ground ...</p>
    					</a>
    				</div>
    			</div>
    		</div>

    		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pad-left-right wm">
    			<div class="box fb-bg">
    				<div class="social-description">
    					<a href="#">
        					<span><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></span>
        					<p class="padding-top-26pc" >Donec interdum lorem eu elit sodales auctor. Maecenas ground round salami lorem eu elit sodales malesuada ...</p>
    					</a>
    				</div>
    			</div>
    			<div class="box yt-bg">
    				<div class="social-description">
    					<a href="#">
        					<span><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></span>
        					<p class="padding-top-26pc" >Pork loin pastrami corned beef venison rump. Cupim meatloaf sirloin
        					pig tail pancetta ...</p>
    					</a>
    				</div>
    			</div>
    		</div>

    		<div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 pad-left-right wm">
    			<div class="box">
    				<img src="{{ theme_base_path }}/images/sm-4.jpg" alt="smmages" />
    				<div class="social-description">
    					<a href="#">
        					<span><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></span>
        					<div class="transparent-box transparent-box-padding">
            					<p>Ball tip chicken shoulder kevin sirloin biltong pastrami andouille
            					fatback shank cow. Turkey tail pancetta pork ...</p>
        					</div>
    					</a>
    				</div>
    			</div>
    			<div class="box tw-bg">
    				<div class="social-description">
    					<a href="#">
        					<span><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></span>
        					<p class="padding-top-26pc">Donec interdum lorem eu elit sodales auctor. Maecenas ground round salami lorem eu elit sodales malesuada ...</p>
    					</a>
    				</div>
    			</div>
    		</div>
    	</div>
    </div>