<div class="row" id="blog-social-media">
    <div class="col-md-8 padding-left0">
        <p>Follow City Planning on social media <a href="https://twitter.com/Planning4LA" rel="nofollow" target="_blank">@Planning4LA</a>.</p>
    </div>

    <div class="col-md-4" id="blog-buttons">
        <button type="button" class="btn btn-white btn-circle">
            <a href="https://www.facebook.com/Planning4LA/" target="_blank"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
        </button>
        <button type="button" class="btn btn-white btn-circle">
            <a href="https://www.instagram.com/planning4la/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        </button>
        <button type="button" class="btn btn-white btn-circle">
            <a href="https://twitter.com/Planning4LA" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
        </button>
        <button type="button" class="btn btn-white btn-circle">
            <a href="https://www.linkedin.com/company/los-angeles-department-of-city-planning/" target="_blank"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
        </button>
        <button type="button" class="btn btn-white btn-circle">
            <a href="https://www.youtube.com/channel/UChl2PmRhAzUf158o0vZjnHw/videos"><i class="fa fa-youtube fa-2x" aria-hidden="true"></i></a>
        </button>
    </div>
</div>
