    <div class="container-fluid padding-top60 padding-bottom60" ng-app="appSM" ng-controller="SocialMediaCtrl">
	   <div class="row">

            <!-- Iterate outer -->
            <span ng-repeat="sm in data">
				<div class="col-md-2 padding-left0 padding-right0" style='{[{ sm.style }]}'>
				 <div class="box">
				  <div class="social-description" id="{[{ sm.ind }]}">
						<a href="{[{ sm.url }]}" target="_blank" rel="nofollow">
							<span><i class="fa {[{ sm.iconClass }]} fa-3x" aria-hidden="true"></i></span>
							<div class="transparent-box">
								<p ng-bind-html="sm.description|words:11"></p>
							</div>
						</a>
					</div>	
					</div>	       

				</div>
			</span>
		</div>
	</div>
