<div class="container-fluid" ng-app="appSM" ng-controller="SocialMediaCtrl">
	<div class="row">
		<div class="col-md-12 padding-top60 padding-bottom60">
			<div class="row">
    			<span ng-repeat="sm in data">
    				<div class="col-md-2 social-media">      
            			<div class="square" 
            				style="background:url('{[{ sm.style }]}') no-repeat center center; background-size: cover;">
            			</div>	
                    	
        				<a href="{[{ sm.url }]}"><span class="social-icon"><i class="fa {[{ sm.iconClass }]} fa-3x" aria-hidden="true"></i></span></a>
            			<div class="caption transparent-box">
            				<a href="{[{ sm.url }]}" ng-bind-html="sm.description|words:11"></a>
                		</div>
                	</div>
    			</span>
			</div>		
		</div>
	</div>
</div>
