<div id="say-connected">
   <div class="container">
      <div class="row">
         <div class="col-md-3" id="stay-connected-text">
            <span id="stay">stay</span><br>
            <span id="connected">CONNECTED</span>
         </div>

         <div class="col-md-5 stay-connected-social-icons">
        		<button type="button" class="btn btn-white btn-circle">
            		<a href="https://www.facebook.com/Planning4LA/" target="_blank"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
        		</button>
            <button type="button" class="btn btn-white btn-circle">
            		<a href="https://www.instagram.com/planning4la/" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
        		</button>
            <button type="button" class="btn btn-white btn-circle">
            		<a href="https://twitter.com/Planning4LA" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
        		</button>
            <button type="button" class="btn btn-white btn-circle">
                    <a href="https://www.linkedin.com/company/los-angeles-department-of-city-planning/" target="_blank"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
                </button>
                <button type="button" class="btn btn-white btn-circle">
            		<a href="https://www.youtube.com/channel/UChl2PmRhAzUf158o0vZjnHw/videos" target="_blank"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a>
        		</button>
         </div>

         <div class="col-md-4 stay-connected-newsletter clearfix">
            <div id="signup-newsletter">E-Newsletter Subscription</div>
            <a href="https://visitor.r20.constantcontact.com/manage/optin?v=001ZFTc8ReLSuE8L-f9q6EPnORa9Cyuc4Ofrx1CcrRrw92_mCaXG1K3CdpPQh2HQ-zJmeZ7zFPiOisREEZcUhWw_TVUcihatHgl5e6on3Ee3UwS4J_kZpjaI0L2USDyvXDGMoq715R4UUcG0uz5oUhEHgznlbxWEV2_ePkjHo0fkE_KcyTS9h0HOkqKr_aBmZeGhAJLN3xo5m0%3D" 
            	target="_blank" class="newsletter-signup">SUBSCRIBE</a>
         </div>

      </div>
   </div>
</div>