<div id="say-connected">
   <div class="container">
      <div class="row">
         <div class="col-md-3" id="stay-connected-text">
            <span id="stay">stay</span><br>
            <span id="connected">CONNECTED</span>
         </div>

         <div class="col-md-5 stay-connected-social-icons" style="padding-right: 15px; padding-left: 15px;">
        		<button type="button" class="btn btn-white btn-circle">
            		<a href="https://www.facebook.com/Planning4LA/" target="_blank"><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></a>
        		</button>
            <button type="button" class="btn btn-white btn-circle">
            		<a href="https://www.instagram.com/planning4la/" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
        		</button>
            <button type="button" class="btn btn-white btn-circle">
            		<a href="https://twitter.com/Planning4LA" target="_blank"><i class="fa fa-twitter fa-3x" aria-hidden="true"></i></a>
        		</button>
            <button type="button" class="btn btn-white btn-circle">
                    <a href="https://www.linkedin.com/company/los-angeles-department-of-city-planning/" target="_blank"><i class="fa fa-linkedin fa-3x" aria-hidden="true"></i></a>
                </button>
                <button type="button" class="btn btn-white btn-circle">
            		<a href="https://www.youtube.com/channel/UChl2PmRhAzUf158o0vZjnHw/videos" target="_blank"><i class="fa fa-youtube fa-3x" aria-hidden="true"></i></a>
        		</button>
         </div>

         <div class="col-md-4 stay-connected-newsletter">
            <div id="signup-newsletter">E Newsletter Sign-Up Form</div>
            <form class="form"
            	id="addForm"
            	action="https://visitor.r20.constantcontact.com/manage/optin?v=001ZFTc8ReLSuE8L-f9q6EPnORa9Cyuc4Ofrx1CcrRrw92_mCaXG1K3CdpPQh2HQ-zJmeZ7zFPiOisREEZcUhWw_TVUcihatHgl5e6on3Ee3UwS4J_kZpjaI0L2USDyvXDGMoq715R4UUcG0uz5oUhEHgznlbxWEV2_ePkjHo0fkE_KcyTS9h0HOkqKr_aBmZeGhAJLN3xo5m0%3D"
            	method="post"
            	accept-charset="UTF-8"
            	target="_blank">
               <input id="subscriberProfile.visitorPropertiesSize" name="subscriberProfile.visitorPropertiesSize" type="hidden" value="2" />
               <div class="form-group">
            		<label for="email" class="sr-only">Email</label>
                  	<input type="text" class="form-control" id="inputProp0" name="subscriberProfile.visitorProps[0].value" data-input="Email Address" value="" maxlength="50" placeholder="Email" required>

                   	<input id="subscriberProfile.visitorProps0.id" name="subscriberProfile.visitorProps[0].id" type="hidden" value="80" />
                   	<input id="subscriberProfile.visitorProps0.name" name="subscriberProfile.visitorProps[0].name" type="hidden" value="Email Address" />
                   	<input id="subscriberProfile.visitorProps0.maxLen" name="subscriberProfile.visitorProps[0].maxLen" type="hidden" value="50" />
                   	<input id="subscriberProfile.visitorProps0.required" name="subscriberProfile.visitorProps[0].required" type="hidden" value="true" />
                   	<input id="subscriberProfile.visitorProps0.inputType" name="subscriberProfile.visitorProps[0].inputType" type="hidden" value="input" />
                   	<input id="subscriberProfile.visitorProps0.refDataKey" name="subscriberProfile.visitorProps[0].refDataKey" type="hidden" value="" />
                   	<input id="subscriberProfile.visitorProps0.customPropID" name="subscriberProfile.visitorProps[0].customPropID" type="hidden" value="" />
               </div>

               <div class="form-group">
               		<label for="inputProp1" class="sr-only">First Name</label>
                  	<input type="text" class="form-control" id="inputProp1" name="subscriberProfile.visitorProps[1].value" data-input="First Name" maxlength="50" placeholder="First Name" required>

                   	<input id="subscriberProfile.visitorProps1.id" name="subscriberProfile.visitorProps[1].id" type="hidden" value="100" />
                    <input id="subscriberProfile.visitorProps1.name" name="subscriberProfile.visitorProps[1].name" type="hidden" value="First Name" />
                    <input id="subscriberProfile.visitorProps1.maxLen" name="subscriberProfile.visitorProps[1].maxLen" type="hidden" value="50" />
                    <input id="subscriberProfile.visitorProps1.required" name="subscriberProfile.visitorProps[1].required" type="hidden" value="false" />
                    <input id="subscriberProfile.visitorProps1.inputType" name="subscriberProfile.visitorProps[1].inputType" type="hidden" value="input" />
                    <input id="subscriberProfile.visitorProps1.refDataKey" name="subscriberProfile.visitorProps[1].refDataKey" type="hidden" value="" />
                    <input id="subscriberProfile.visitorProps1.customPropID" name="subscriberProfile.visitorProps[1].customPropID" type="hidden" value="" />
               </div>

              <div id="colLeftContent" class="colLeft">

             	<input id="subscriberProfile.visitorParams" name="subscriberProfile.visitorParams" type="hidden" value="001ZFTc8ReLSuE8L-f9q6EPnORa9Cyuc4Ofrx1CcrRrw92_mCaXG1K3CdpPQh2HQ-zJmeZ7zFPiOisREEZcUhWw_TVUcihatHgl5e6on3Ee3UwS4J_kZpjaI0L2USDyvXDGMoq715R4UUcG0uz5oUhEHgznlbxWEV2_ePkjHo0fkE_KcyTS9h0HOkqKr_aBmZeGhAJLN3xo5m0=" />
               	<input id="subscriptions.interestCategoriesSize" name="subscriptions.interestCategoriesSize" type="hidden" value="1" />

                 <div id="intCats" style="display: none;">
                     <input id="subscriptions.interestCategories0.id" name="subscriptions.interestCategories[0].id" type="hidden" value="1158323517" />
                     <input id="subscriptions.interestCategories0.name" name="subscriptions.interestCategories[0].name" type="hidden" value="General Interest" />
                     <input id="subscriptions.interestCategories0.selected1" name="subscriptions.interestCategories[0].selected" type="checkbox" value="true" checked="checked" />
                     <input type="hidden" name="_subscriptions.interestCategories[0].selected" value="on" />
                     <span></span>
                 </div>

     			</div>

               <div class="colLeft">
                  <div id="displayCaptcha">
                      <input id="captcha.url" name="captcha.url" type="hidden" value="http://visitor.r20.constantcontact.com/manage/optin" />
                      <input id="captcha.remoteAddr" name="captcha.remoteAddr" type="hidden" value="161.149.63.239" />
                      <input id="capResponse" name="captcha.response" type="hidden" value="" />
                      <input id="captcha.key" name="captcha.key" type="hidden" value="6LcB5AIAAAAAANx7J2ADgUFxwd_zllfY4DxX81c5" />
                      <input id="captcha.control" name="captcha.control" type="hidden" value="001gRtjOnjW5WFuAoOn2YVRx_XJsAFQXTVE" />
                  </div>
                  </div>

               <div class="form-group">
                  <input name="_save" type="submit" id="update-profile-submit-btn" class="btn btn-primary full" value="SIGN UP" style="width:100%;" />
               </div>
            </form>

         </div>

      </div>
   </div>
</div>