/* up to three per page **/
/* Icon when the collapsible content is shown */
.readlink.collapsed::after {

    content: "READ\2009\2009MORE\2009\2009\002B";

}
.readlink::after {

    content: "READ\2009\2009LESS\2009\2009\2212";
    color: #000;
    text-decoration: underline;
    color: orange;

}
/* prevents accordion from floating above webforms */

.panel-group {
    margin-bottom: 20px;
    clear: both;
}

 .col-md-4 > .section-content.clear.fullwidth_buttons > div > div > a > p {
   padding:16px;
   font-size:16px !important;
 }
 .info span.file a {
     font-weight: 600;
     color: #f68a3b !important
 }
#hollywood-tab {
    margin-top: -2%;
    width: 103%;
    margin-left: -10px;
}
#hollywood-tab > ul > li > a {
    padding-left: 5px;
    padding-right: 5px;
  }

span.hero_image > img {
    border: .5px solid #bfbfbf;
    padding: 1px 1px 1px 1px;
    margin: 5px 20px 20px 0;
}
.col-md-8.vertical-line {
    border-left: .5px solid #bfbfbf;
  }
span.img-border a img.img-responsive, span.img-border img.img-responsive {
      border: .5px solid #bfbfbf;
      padding: 1px;
  }
  .news-content p img {
      float: left !important;
      padding: 0 10 10 0;
  }
.news-feed span.img-border a img.img-responsive {
  object-fit: cover;
  object-position: 100% 0;
  width: 280px;
  height: 180px;
  }
