/* up to three per page **/
/* Icon when the collapsible content is shown */
.readlink:after {
  content: "Read\2009\2009Less\2009\2009\003c\003c";
  color: #000;
  text-decoration: underline;
  color: orange;
}

/* Icon when the collapsible content is hidden */
.readlink.collapsed:after {
  content: "Read\2009\2009More\2009\2009\003e\003e";
}

h3>iframe {
  margin-top: 20px;
}

/** example html
<div class="readlink collapsed" data-toggle="collapse" data-target="#purpose"></div>
<div id="purpose" class="collapse">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit,
  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
</div>
**/