/* double scroll bar firefox  override hidden fix */

html, body {
	height: 100%;
}
/* up to three per page **/

/* Icon when the collapsible content is shown */

.readlink.collapsed::after {
	content: "READ\2009\2009MORE\2009\2009\002B";
}
.readlink::after {
	content: "READ\2009\2009LESS\2009\2009\2212";
	color: #000;
	text-decoration: underline;
	color: orange;
}
/* prevents accordion from floating above webforms */

.panel-group {
	margin-bottom: 20px;
	clear: both;
}
.col-md-4>.section-content.clear.fullwidth_buttons>div>div>a>p {
	padding: 16px;
	font-size: 16px !important;
}
.info span.file a {
	font-weight: 600;
	color: #f68a3b !important
}
div.info div:nth-of-type(even) {
	margin-top: 12px;
}
#hollywood-tab {
	margin-top: -2%;
	width: 103%;
	margin-left: -10px;
}
#hollywood-tab>ul>li>a {
	padding-left: 5px;
	padding-right: 5px;
}
span.hero_image>img {
	border: .5px solid #bfbfbf;
	padding: 1px 1px 1px 1px;
	margin: 5px 20px 20px 0;
}
.col-md-8.vertical-line {
	border-left: .5px solid #bfbfbf;
}
span.img-border a img.img-responsive, span.img-border img.img-responsive {
	border: .5px solid #bfbfbf;
	padding: 1px;
}
.news-content p img {
	float: left !important;
	padding: 0 10 10 0;
}
ul.flex-container {
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
}
li.flex-item {
	display: flex;
	width: 280px;
}
/*Dropdown menu */

i.fa.fa-caret-down {
	margin-top: -20px !important;
	color: #ccc;
	z-index: 1000;
	position: absolute;
	margin-left: -4px;
}
ul.nav-tabs {
	padding: 0;
}
#hollywood-tab {
	margin-top: -2%;
	width: 103%;
	margin-left: -10px;
}
li.childLevel-1.padding-top0.active {
	background-color: #faa750 !important;
	font-weight: 600;
}
li.childLevel-1.padding-top0.active a {
	color: #fff !important;
}
ul.nav-tabs li {
	display: inline;
	margin: 0;
	padding: 0;
	float: left;
	position: relative;
}
ul.nav-tabs li a {
	padding: 10px 25px;
	text-decoration: none;
	display: inline-block;
	-webkit-transition: color 0.2s linear, background 0.2s linear;
	-moz-transition: color 0.2s linear, background 0.2s linear;
	-o-transition: color 0.2s linear, background 0.2s linear;
	transition: color 0.2s linear, background 0.2s linear;
}
ul.nav-tabs li a:hover {
	background: #f8f8f8;
	color: #282828;
}
ul.nav-tabs li:hover>a {
	background-color: transparent;
}
ul.dropdown-submenu li:hover>a {
	color: #009fe3 !important;
}
/* Drop-Down Navigation */

ul.nav-tabs li:hover>ul {
	visibility: visible;
	opacity: 1;
}
ul.nav-tabs ul, ul.nav-tabs ul li ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
	visibility: hidden;
	position: absolute;
	z-index: 99999;
	/*background:#f8f8f8;*/
	background: RGBA(248, 248, 248, 0.90);
	opacity: 0;
	-webkit-transition: opacity 0.2s linear, visibility 0.2s linear;
	-moz-transition: opacity 0.2s linear, visibility 0.2s linear;
	-o-transition: opacity 0.2s linear, visibility 0.2s linear;
	transition: opacity 0.2s linear, visibility 0.2s linear;
}
ul.nav-tabs ul {
	left: 1px;
}
ul.nav-tabs ul li ul {
	clear: both;
	border: 0 none;
	font-size: 12px;
	height: 60px;
}
ul.nav-tabs ul li {
	clear: both;
	width: 100%;
	border: 0 none;
	border-bottom: 1px solid #c9c9c9;
	font-size: 12px;
	padding: 15px 5px 15px 5px;
	line-height: 1.5;
	text-transform: uppercase;
}
ul.nav-tabs ul li a {
	background: none;
	padding: 7px 15px;
	color: #616161 !important;
	text-decoration: none;
	display: inline-block;
	border: 0 none;
	float: left;
	clear: both;
}
ul.nav-tabs li a.first {
	border-left: 0 none;
}
ul.nav-tabs li a.last {
	border-right: 0 none;
}
p.slider-title-cpu a {
	text-decoration: none;
}
p.slider-caption-cpu a {
	text-decoration: none;
}
.news-feed {
	display: inline-block;
	max-width: 100%;
	max-height: 500px;
}
.news-feed .img-responsive {
	max-width: 100%;
	height: auto;
}
.sharethis-inline-share-buttons {
  margin-top: -55;
  padding-left: 15px;
  position: absolute !important;
}
/* Media queries */

@media screen and (max-width: 799px) and (min-width: 599px) {
	.tab-line {
		border-right: #ccc 1px solid !important;
	}
}
@media screen and (max-width: 768px) and (min-width: 376px) {
	#hollywood-tab ul.nav.nav-tabs {
		margin-top: 1%;
	}
	#hollywood-tab ul.nav-tabs li a {
		padding: 0;
	}
	li.padding-top0 {
		font-size: 13px;
	}
	i.fa.fa-caret-down {
		margin-top: -4px !important;
	}
}
@media screen and (max-width: 1200px) and (min-width: 800px) {
	.swiper-slide .slider-content {
		top: -76%;
	}
	.swiper-container.swiper-container-horizontal {
		height: 432px;
	}
	.col-md-12.dropdown {
		margin-top: -30px;
	}
}
@media screen and (max-width: 575px) and (min-width: 376px) {
	#hollywood-tab .nav-tabs li a {
		width: 100%;
		border-bottom: 1px solid #e8e8e8;
		padding-bottom: 10px;
		background-color: #F9F7F5;
		padding-top: 10px !important;
		padding-bottom: 10px !important;
	}
	i.fa.fa-caret-down {
		margin-top: -14px !important;
	}
	li.childlevel-1 a, li.childlevel-1, .childlevel-1 {
		background-color: none !important;
		border-bottom: 0px !important;
		padding: 0 !important;
		margin-top: 0px;
		height: 30px
	}
	li>ul>li>a:last-child {
		border-bottom: 1px solid #e8e8e8 !important;
		height: 50px !important;
	}
	.childLevel-1:last-child {
		border-bottom: 1px solid #e8e8e8 !important;
		height: 50px !important;
	}
	.childLevel-1:not(:first-of-type) {
		border-top: 1px solid #e8e8e8 !important;
	}
	li.childLevel-1.padding-top0.active {
		background-color: #f9f8ed !important;
	}
	li.childLevel-1.padding-top0.active a {
		color: orange !important;
		font-size: 13px;
	}
	i.fa.fa-caret-down {
		margin-top: -15px;
	}
	#hollywood-tab {
		margin-top: -3%;
		width: 107%;
		margin-left: -17px;
	}
}
@media screen and (max-width: 517px) and (min-width: 376px) {
	.swiper-container.swiper-container-horizontal {
		height: 234px;
	}
}
@media screen and (max-width: 799px) and (min-width: 750px) {
	.swiper-slide .slider-content {
		top: -81%;
	}
	.swiper-container.swiper-container-horizontal {
		height: 417px;
	}
}
@media screen and (max-width: 749px) and (min-width: 700px) {
	.swiper-slide .slider-content {
		top: -82%;
	}
	.swiper-container.swiper-container-horizontal {
		height: 365px;
	}
}
@media screen and (max-width: 699px) and (min-width: 650px) {
	.swiper-slide .slider-content {
		top: -75%;
	}
	.swiper-container.swiper-container-horizontal {
		height: 356px;
	}
}
@media screen and (max-width: 649px) and (min-width: 600px) {
	.swiper-slide .slider-content {
		top: -83%;
	}
	.swiper-container.swiper-container-horizontal {
		height: 312px;
	}
}
@media screen and (max-width: 599px) and (min-width: 550px) {
	.swiper-slide .slider-content {
		top: -80%;
	}
	.swiper-container.swiper-container-horizontal {
		height: 285px;
	}
}
@media screen and (max-width: 549px) and (min-width: 519px) {
	.swiper-slide .slider-content {
		top: -75%;
	}
	.swiper-container.swiper-container-horizontal {
		height: 271px;
	}
}
@media screen and (max-width: 518px) and (min-width: 376px) {
	.swiper-slide .slider-content {
		top: -78%;
	}
	.swiper-container.swiper-container-horizontal {
		height: 253px;
	}
}
/* end media queries */
