{% set counter = 0 %}
{% for row in rows %}
    {% if counter is divisible by(2) %}
        <div class="row padding-left0">
    {% endif %}
    <div class="col-md-6 padding-bottom60">
        {{ row.content }}
    </div>
    {% set counter = counter + 1 %}
    {% if counter is divisible by(2) %}
        </div>
    {% endif %}
{% endfor %}
{% if counter is not divisible by(2) %}
    </div>
{% endif %}