{%
  set class =  ''
%}

<div class="row padding-left0 padding-right0" style="padding-bottom: 1px;">

 <div class="col-md-12">
 <div class="padding-bottom15">
  <h5 style="margin-top: 0px;">{{ fields.title.content }}</h5>
  </div>

 </div>


 <div class="row paddingtop15">
 <br/>
 <p class="bottom-solid-line"></p>
 </div>
</div>
