<div class="blog-categories">
	<ul class="list-inline">
	Category: 
	{% for item in items %}
		<li>{{ item.content }}</li>
	{% endfor %}
	<span class="pull-right"><a href="/blog"><i class="fa fa-chevron-circle-left" style="color: 000 !important;"></i> Back to Blog</a></span>
	</ul>
	<hr>
</div>