<div class="blog-categories">
	<ul class="list-inline">
	Category: 
	{% for item in items %}
		<li>{{ item.content }}</li>
	{% endfor %}
       <div class="pull-right" style="margin-top: -10;">
           <i class="fa fa-angle-left fa-2x" style="color: #bcbec0 !important; position: relative; top: 5px;"></i>
           <a href="/blog">Back to Blog</a>
        </div>
	</ul>
	<hr>
</div>