<style>
.st-btn[data-network='sharethis'] {
    background-color: #95D03A !important;
}
#blog-hr {
	border-top: #ddd 1px solid;
	border-bottom: #ddd 1px solid;
	min-height: 45px;
}
</style>

<div class="row" id="blog-hr">
	
	<div class="col-md-8">
	   <ul class="list-inline tags-list" style="padding-top: 11px;">
	    {% for item in items %}
	        <li>{{ item.content }}</li>
	    {% endfor %}
	    </ul>
	</div>
	
	<div class="col-md-4">
	   <div class="sharethis-inline-share-buttons"></div>
	</div>
		
</div>

<script type='text/javascript' src='//platform-api.sharethis.com/js/sharethis.js#property=5ac5284b1243c10013440d04&product=inline-share-buttons' async='async'></script>