  <!-- Fixed navbar -->
  {% include directory ~ '/partials/header.html.twig' %}

	<!-- title-bar -->
	{{ page.title_bar }}
	<!-- //End title-bar -->

	<div class="clear"></div>

	<!-- contain -->
	<div class="container section-padding-inner">
		<div ng-app="app" >
    		<div class="row">

              <!-- main content -->
              {{ page.content }}
              <!-- // END main content-->

    		</div>
		</div>
	</div>	<!-- //End container -->

  <!-- footer section -->
  {{ attach_library ('cityplanning/maps-geographies-js') }}
  {{ attach_library ('cityplanning/angular-js') }}
  {% include directory ~ '/partials/footer.html.twig' %}