<div class="container-fluid info-bg-color-2">
	{% for item in items %}
	{# {% set url = file_url(item.content['#item'].entity.uri.value) %}
	{% set title = item.content[#title] %} #}
	<div class="row">
		<div class="col-md-12 fullpage-image-title"><h2>My Title</h2></div>
	</div>
	<div class="row">
		<div class="col-md-12"><center><img class="img-responsive" src="http://cityplanning:8888/themes/custom/cpv3/images/cstats-HomePage.png" /></center></div>
	</div>
	{% endfor %}
</div>